<!DOCTYPE html5>
<html>
	<head>
		<link rel="shortcut icon" href="images/warriors-favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/gsw-favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="stylesheets/styles.css">
		<script type="text/javascript" src="javascript/angular-1.3.20.js"></script>
		<script type="text/javascript" src="javascript/app.js"></script>
		<script type="text/javascript" src="javascript/playerInfoFactory.js"></script>
		<script type="text/javascript" src="javascript/statTableHeaderRowDirective.js"></script>
		<script type="text/javascript" src="javascript/statTableRowDirective.js"></script>
	</head>

	<body ng-app="app" ng-controller="appController">
		<div class="side-bar">
			<h5>WEST</h5>
			<h6 ng-repeat="team in teams.west" ng-click="changeTeam(team)">{{ team }}</h6>
		</div>

		<div class="top">
		<!-- <div class="title-box"> -->
			<h3>GOLDEN STATE WARRIORS</h3>
		<!-- </div> -->
		</div>
			<h4>Click a stat column header to sort by that column</h4>

		<table ng-show="finishedLoading()">
			<tr stat-table-header-row></tr>
			<tr ng-class-odd="'odd-row'"
			    ng-repeat="player in playerInfo.players | orderBy: sorter" stat-table-row player="player">
			</tr>
		</table>

		<div ng-show="!finishedLoading()" class="box">
			Loading...
			<img src="images/basketball.png"></img>
		</div>

		<div class="footer">
			<a class="footer-link" href="https://linkedin.com/in/skinnerduncan">Contact</a> |
			<a class="footer-link" href="https://github.com/dgskinner/warriors">Source Code</a> |
			<a class="footer-link" href="https://github.com/seemethere/nba_py/wiki/stats.nba.com-Endpoint-Documentation">API Documentation</a>
		</div>
	</body>
</html>