@import "loading.css";

body {
  background: #F0F0F0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #333;
  text-align: center;
  cursor: default;
  margin: 0px;
}

div.top {
  background-color: white;
  height: 100px;
}

img.team-icon {
  vertical-align: middle;
}

h3.team-name {
  display: inline-block;
  line-height: 100px;
  margin: 0px 0px 0px 10px;
  font-size: 120%;
}

h4 {
  margin-bottom: 2px;
  font-size: 70%;
}

h5 {
  margin: 50px 0px 30px 0px;
}

h6.select-team {
  margin: 13px 0px 13px 0px;
}

h6.select-team.enabled:hover {
  text-decoration: underline;
  cursor: pointer;
}

table {
  font-size: 85%;
  margin: auto;
  border-spacing: 0px 0px;
  border: 1px solid #333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

tr {
  background: white;
}

tr.odd-row {
  background: #F0F0F0;
}

th {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  border-bottom: 1px solid #333;
}

th.sortable {
  cursor: pointer;
}

th.sortable:hover {
  box-shadow: inset 0 0 5px blue;
  -moz-box-shadow: inset 0 0 5px blue;
  -webkit-box-shadow: inset 0 0 5px blue;
}

td {
  padding-left: 10px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

div.side-bar {
  position: fixed;
  height: 100%;
  width: 70px;
  background-color: #333;
  /*border-right: 1px solid #333;*/
  color: white;
  z-index: 1;
}

div.side-bar.left {
  left: 0px;
}

div.side-bar.right {
  right: 0px;
}

div.footer {
  position: fixed;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  background-color: white;
  color: #333;
  font-size: 80%;
}

a.footer-link {
  margin: 0px 10px 0px 10px;
}