<th>Number</th>
<th>Name</th>
<th class="sortable" ng-click="sortByStat('PTS')">PTS</th>
<th class="sortable" ng-click="sortByStat('AST')">AST</th>
<th class="sortable" ng-click="sortByStat('REB')">REB</th>
<th class="sortable" ng-click="sortByStat('STEALS')">STL</th>
<th class="sortable" ng-click="sortByStat('BLOCKS')">BLK</th>
<th class="sortable" ng-click="sortByStat('FIELD_GOAL_PCT')">FG%</th>
<th class="sortable" ng-click="sortByStat('THREE_POINT_PCT')">3PT%</th>
<th class="sortable" ng-click="sortByStat('FREE_THROW_PCT')">FT%</th>
<th class="sortable" ng-click="sortByStat('MIN')">MIN</th>
<th class="sortable" ng-click="sortByStat('PIE')"
    title="PIE measures a player's overall statistical contribution against the total statistics in games they play in. PIE yields results which are comparable to other advanced statistics (e.g. PER) using a simple formula. (PTS + FGM + FTM - FGA - FTA + DREB + (.5 * OREB) + AST + STL + (.5 * BLK) - PF - TO) / (GmPTS + GmFGM + GmFTM - GmFGA - GmFTA + GmDREB + (.5 * GmOREB) + GmAST + GmSTL + (.5 * GmBLK) - GmPF - GmTO)"
>PIE</th>
<th class="sortable" ng-click="sortByStat('HEIGHT_IN_INCHES')">Height</th>
<th class="sortable" ng-click="sortByStat('WEIGHT')">Weight</th>
<th class="sortable" ng-click="sortByStat('SEASON_EXP')"
    title="Years of experience in the NBA"
>EXP</th>